{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"rules": {
		"comma-dangle": [
			"off"
		],
		"no-tabs": "off",
		"indent": "off",
		"no-multiple-empty-lines": "off",
		"no-trailing-spaces": "off",
		"no-unused-vars": [
			"error",
			{
				"args": "none",
				"vars": "local"
			}
		],
		"no-console": "off",
		"no-undef": "off",
		"no-mixed-spaces-and-tabs": "off",
	}
}